.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(65, 64, 63);
 }

.match-card{
  width: 450px !important;
}
.card .card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.card .card-header img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.card .card-header span {
  margin-right: 8px;
  font-size: 14px;
}

.card .card-content {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card .match  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
  font-weight: bold;
  gap: 30px;
}

/* .card .match-time {
  color: #ffffff;
  font-size: 12px;
}

.card .result {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
} */

.card .match-status {
  font-weight: bold;
  border-radius: 15px;
  padding: 5px;
  color: white
}

/* Styles for specific match statuses */
.card.not {
  background-image: url(../assets/bg-prematch.jpg);
}
.card.ended .match-status{
  background-color: green;
}
.card.liv .match-status{
  background-color: orange;
}.card.not .match-status{
  background-color: grey;
}

.card.end {
  background-image: url(../assets/bg-postmatch.jpg);
}

.card.liv {
  background-image: url(../assets/bg-live.jpg);
}

.match-team2{
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}
.match-team1{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.match{

}
.match-team-result{

}

body{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.container{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.card{
    border-radius: 15px;
    width: 650px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
}
.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:5px;
    gap: 10px;
}
.card-content{
    padding: 20px;
}
.match{
    display: flex;
    justify-content:space-around;
}
.match-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    padding-right: 50px;
}
.match-status{
    padding: 10px;
    display: flex;
    justify-content:center;
}
.card-status-text{
    padding:2px;
    border-radius: 5px;
    background-color: var(--color-prematch);
    padding-left:20px;
    padding-right: 20px;
}
.ongoing{
    background-color: var(--color-ongoing);
}
.ended{
    background-color:var(--color-ended);
}
.match-info-ongoing-ended{
    display:flex;
    flex-direction:row;
    gap: 10px;
}

@media (max-width: 870px) {
  .card {
    /* Adjust styles for screens up to 870px */
    padding: 12px;
  }

  .card .card-header img {
    width: 30px;
    height: 30px;
  }

  .card .card-header span {
    font-size: 12px;
  }

  .card .match-time {
    font-size: 10px;
  }

  .card .result {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .card {
    /* Adjust styles for screens up to 450px */
    padding: 8px;
  }

  .card .card-header img {
    width: 24px;
    height: 24px;
  }

  .card .card-header span {
    font-size: 10px;
  }

  .card .match-time {
    font-size: 8px;
  }

  .card .result {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .card {
    /* Adjust styles for screens up to 320px */
    padding: 6px;
  }

  .card .card-header img {
    width: 20px;
    height: 20px;
  }

  .card .card-header span {
    font-size: 8px;
  }

  .card .match-time {
    font-size: 6px;
  }

  .card .result {
    font-size: 12px;
  }
}